.footer {
	width: 100%;
	max-height: 27.778rem;
	padding: 0 13.667rem;
	background-color: $sub-colour2;
	&-top {
		position: relative;
		padding: 3.556rem 0;
	}
	&-bottom {
		border-top: 0.2rem solid $sub-colour;
		padding: 2.556rem 0;
	}
	&-title {
		margin-top: 2.6667rem;
		margin-bottom: 2.667rem;
		color: $sub-colour;
		font-size: 5.333rem;
		font-family: $sub-font;
		font-weight: 400;
		line-height: 1;
		img {
			width: 25rem;
		}
	}
	&-menu {
		li {
			display: inline-block;
			margin-right: 2.444rem;
			font-weight: bold;
		}
		a {
			text-decoration: underline;
			&:hover {
				text-decoration: none;
			}
		}
	}
	&-contact {
		position: absolute;
		top: 0;
		right: 0;
		padding: inherit;
		text-align: right;
		&__title {
			font-size: 1.778rem;
			font-weight: bold;
			margin: 0;
		}
	}
	&-sns {
		float: left;
		font-weight: bold;
		ul {
			display: inline-block;
			margin-left: 1rem;
		}
		li {
			display: inline-block;
			margin-left: 8px;
		}
	}
}
.copyright {
	float: right;
	margin: 0;
	padding: 2px 0;
	img {
		width: 78px;
		margin-left: 12px;
	}
	a {
		display: inline-block;
		vertical-align: -2px;
	}
	span {
		display: inline-block;
		vertical-align: middle;
	}
}