* {
	-webkit-font-smoothing:antialiased;
	font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
	box-sizing: border-box;
}
html {
	font-size: responsive 9.74999999988px 18px;
	font-range: 1040px 1920px;
}
body {
	font-size: 100%;
	font-weight: 800;
	line-height: 1.6;
	font-family: $main-font;
	font-weight: 300;
	color: $main-colour;
	line-height: 1.6;
	overflow-x: hidden;
	background-color: #fff;
	/*background-image: url(/assets/images/common/pattern1.png);*/
	background-position: center;
}

html,
button,
input,
select,
textarea {
	color: $main-colour;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: $main-colour;
	&:--enter {
		color: color($main-colour a(80%));
	}
}

audio,
canvas,
img,
video {
	vertical-align: middle;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

textarea {
	resize: vertical;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
ol {
	margin: 0;
	padding-left: 1.5rem;
}

.browsehappy {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

.bg {
	position: fixed;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	top: 0;
	z-index: -1;
/*	&--main {
		background: color(#9834BD a(0.35));
		&:before {
			@mixin pseudo 100%, 100%;
			top: 0;
			left: 0;
			background: linear-gradient(135deg,#17B5D4 20%,transparent 95%,transparent 95%);
			opacity: 0.85;
		}
		&:after {
			@mixin pseudo 100%, 100%;
			top: 0;
			left: 0;
			background-image: url(/assets/images/common/bg.jpg);
			background-size: cover;
			opacity: 0.35;
		}
	}*/
}

.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	&--white {
		background-color: #fff;
		opacity: 0.6;		
	}
	&--dark {
		background-color: #000;
		opacity: 0.6;
	}
	&--nav {
		background-color: #000;
		opacity: 0.6;
		z-index: 5;
	}
}

.u-left {
	float: left;
	margin-right: 1rem;
}
.u-right {
	float: right;
	margin-left: 1rem;
}
.u-inner {
	max-width: $maxWidth;
	margin: auto;
}
.u-inner-middle {
	top: center;
}
.u-first-letter {
	font-weight: bold;
	font-size: 1.7em;
}
.u-filter--blur {
	filter: blur(4px);
}
.u-filter--sepia {
	filter: sepia(.8);
}
.u-center-vertical {
	top: center;
	left: 0;
	width: 100%;
}
.u-text-center {
	text-align: center;
}
.u-text-right {
	text-align: right;
}
.u-grid-link {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 99;
}
.u-text-underline {
	text-decoration: underline;
}
.u-text-large {
	font-size: 1.167rem;
}
.u-text-larger {
	margin-bottom: 1.5rem;
	font-size: 3.200rem;
	line-height: 1.125;
}
.u-weak {
	opacity: 0.6;
}
.u-col2 {
	float: left;
	width: 50%;
}
.u-no-padding {
	padding: 0 !important;
}
.u-mt0 {
	margin-top: 0 !important;
}
.u-mt8 {
	margin-top: 8px !important;	
}
.u-mt16 {
	margin-top: 16px !important;	
}
.u-mt32 {
	margin-top: 32px !important;
}
.u-mt64 {
	margin-top: 64px !important;
}
.u-mb32 {
	margin-bottom: 32px !important;
}
.u-mb54 {
	margin-bottom: 54px !important;
}
.u-italic {
	font-style: italic;
}
.u-flex {
	display: flex;
}
.u-colour {
	&--news {
		color: $news-colour;
	}
	&--report {
		color: $report-colour;
	}
	&--workshop {
		color: $workshop-colour;
	}
	&--sks-news {
		color: $sks-news-colour;
	}
}

#load {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
	opacity: 0;
	visibility: hidden;
	background-color: rgba(255,255,255,0.5);
	animation: loading 1.5s cubic-bezier(0.7,0,0.3,1) forwards;
	&.loading {
		opacity: 1;
		visibility: visible;
		z-index: 99999;
	}
	span {
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: 0;
		height: 100%;
		margin: auto;
		&.load--large {
			bottom: 0;
			height: 100%;
			background-color: #fff;
		}
		&.load--small {
			height: 4px;
			background-color: $red;
		}
	}
}

:--heading {
	margin-top: 0;
	font-weight: 800;
}
h1 {
	margin: 0;
	font-size: 6.667rem;
}
h2 {
	font-size: 2.000rem;
}
h3 {
	margin: 0;
	font-size: 3.333rem;
}
h4 {
	margin-bottom: 2.3333rem;
	font-size: 7rem;
}
h5 {
	margin: 0;
	font-size: 1.500rem;
}
h6 {
	margin-bottom: 1.333rem;
	font-size: 1.333rem;
}

@custom-selector :--heading h1, h2, h3, h4, h5, h6;
@custom-selector :--button button, .button;
@custom-selector :--enter :hover, :focus;