$main-font: "futura-pt", "Lato", "HelveticaNeueRoman", "HelveticaNeue-Roman", 'YuGothic', 'Hiragino Kaku Gothic ProN', 'Kozuka Gothic Pr6N', Arial, "Helvetica Neue Roman", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
$sub-font: "baskerville", "A-OTF Ryumin Pro", serif;

$main-colour: #000;
$sub-colour: #1c1cea;
$sub-colour2: #fefe3b;

$news-colour: #ff6179;
$report-colour: #f9976d;
$workshop-colour: #20d6ef;
$sks-news-colour: #41d382;
$interview-colour: #DA97F0;

$bgColour: #B5D3CC;

$maxWidth: 1440px;
$contentSpace: 13.444rem;
$contentSpaceSP: 2.5rem;